# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env

firebase/

uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS arquivos
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sequelize CLI
config/config.json
config/config.js

# Optional: Macros ou cache
.cache/
/src/generated/prisma

/src/config/*.json